<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>troll.patrol</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
          <div class="logo-cnt">
            <img src="assets/logo.png" alt="" class="logo-img">
            <p>troll.patrol</p>
          </div>
        {{#if logged_in}}
          <a href="/logout"><button class="btn" id="logout">logout</button> </a>
        {{else}}
          <a href="/login"><button class="btn" id="login">login</button></a>
        {{/if}}
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>
