    <div class="landing-wrapper no-padding-bottom">
        <div class="login-card">
            <h1>Create an account</h1>
                <p class="login-subtitle">Already have one? <a href="/login" class="log-in-link">Log in</a></p>
                <form class="signup-form">
                    <input type="text" name="username" id="username-signup" placeholder="Username" />
                    <input type="text" name="email" id="email-signup" placeholder="Email" />
                    <input type="text" name="password" id="password-signup" placeholder="Password" />
                    <button type="submit">CREATE ACCOUNT</button>
                </form>
                <p class="or">OR</p>
                <a href="/login"><button>LOG IN</button></a>
        </div>
    </div>

<script src="/js/createAccount.js"></script>