<div class="card">
    <h3 class="card-header">Spicy New Opinion</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-name" class="form-label">Argument</label>
        <input type="text" id="post-name" name="post-name" class="form-input" />

        <button type="submit" class="btn">Start Aurgument!</button>
    </form>
</div>

<script src="/javascript/create-post.js"></script>