    <div class="landing-wrapper no-padding-bottom">
        <div class="login-card">
            <h1>Create an account</h1>
                <p class="login-subtitle">Already have one? <a href="/login" class="log-in-link">Log in</a></p>
                <form action="/">
                    <input type="text" name="username" placeholder="Username">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="password" placeholder="Password">
                    <button type="submit" href="/">CREATE ACCOUNT</button>
                </form>
                <p class="or">OR</p>
                <a href="/login"><button>LOG IN</button></a>
        </div>
    </div>

<script src="/js/createAccount.js"></script>