<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <img src="assets/logo.png" alt="" class="logo-img">
            <p>troll.patrol</p>
        </nav>
    </header>
    <main>
        <div class="landing-wrapper no-padding-bottom">
            <div class="login-card">
                <h1>Create an account</h1>
                <p class="login-subtitle">Already have one? <a href="/login" class="log-in-link">Log in</a></p>
                <form action="/">
                    <input type="text" name="username" placeholder="Username">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="password" placeholder="Password">
                    <button type="submit" href="/">CREATE ACCOUNT</button>
                </form>
                <p class="or">OR</p>
                <a href="/login">
                    <button>LOG IN</button>
                </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

<script src="/js/signup.js"></script>
