    <div class="landing-wrapper">
        <div class="login-card">
            <h1>Log in</h1>
                <p class="login-subtitle">Don't have an account? <a href="/createaccount" class="signup-link">Sign up today</a></p>
                <form class="login-form">
                    <input type="text" id="email-login" name="email" placeholder="Email" />
                    <input type="text" id="password-login" name="password" placeholder="Password" />
                    <button type="submit">LOG IN</button>
                </form>
                <p class="or">OR</p>
                <a href="/createaccount" id="create-account"><button>CREATE AN ACCOUNT</button></a>
        </div>
    </div>


<script src="/js/login.js"></script>
