{{> post-info post}}

{{#if loggedIn}}
<div class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5">add comment</button>
  </div>
  
</div>
{{/if}}

{{> comments post.comments}}


<script src="/js/comment.js"></script>
